<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.ec2-price-lookup</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04355D80-1562-49A8-9ECD-0B0E7D3B9198</key>
		<array/>
		<key>0F4070FE-23EC-4A43-8D86-F3B477FA9CC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25007E87-6857-4027-AEF5-D326F3567F1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25007E87-6857-4027-AEF5-D326F3567F1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04355D80-1562-49A8-9ECD-0B0E7D3B9198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B24DE9F-6A2B-4FCF-9902-D83870449EA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECE2EA19-86B0-48B1-BB52-A879A7848676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F190337-6DF5-4F68-8968-86B44AA42B80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7927F33D-B567-47F3-AFE3-65324A85DB81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F3CC293-E6D8-445E-881E-1FE2A25743CA</key>
		<array/>
		<key>B78F9B99-A9F7-412A-A126-DF291E72FC81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F190337-6DF5-4F68-8968-86B44AA42B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA701C1D-228C-481A-A4A6-34CACA64B91B</key>
		<array/>
		<key>ECE2EA19-86B0-48B1-BB52-A879A7848676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F3CC293-E6D8-445E-881E-1FE2A25743CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Walke</string>
	<key>description</key>
	<string>Look up on-demand EC2 prices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ec2 Price Lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ec2</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>&lt;?php
require 'helper.php';

$helper = new Helper($argv[1], $_SERVER['location'], $_SERVER['system']);

echo $helper-&gt;operate();</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>ec2 {instance-type}</string>
				<key>title</key>
				<string>Search EC2 Pricing</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA701C1D-228C-481A-A4A6-34CACA64B91B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The EC2 pricing data cache has been updated for {var:system} in {var:location}.</string>
				<key>title</key>
				<string>EC2 Price Lookup Data Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>04355D80-1562-49A8-9ECD-0B0E7D3B9198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
pricingFile="$alfred_workflow_cache/ec2.json"
productsFile="$alfred_workflow_cache/products.json"
offersFile="$alfred_workflow_cache/offers.json"

curl -s https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/index.json &gt; "$pricingFile"

cat "$pricingFile" | /usr/local/bin/jq '[ .products[] | select((.attributes.location=="'"$location"'") and (.attributes.operatingSystem=="'"$system"'") and (.attributes.usagetype | test("^BoxUsage"))) ]' &gt; "$productsFile"
cat "$pricingFile" | /usr/local/bin/jq '[ .terms.OnDemand[][] | select(.priceDimensions[].description | contains("per On Demand '"$system"'")) ]' &gt; "$offersFile"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25007E87-6857-4027-AEF5-D326F3567F1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ec2-update</string>
				<key>subtext</key>
				<string>Downloads about 119MB, runs in the background, notifies when done.</string>
				<key>text</key>
				<string>Update EC2 Pricing Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F4070FE-23EC-4A43-8D86-F3B477FA9CC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The EC2 price lookup location has been set to {query}.</string>
				<key>title</key>
				<string>EC2 Price Lookup Location Set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9F3CC293-E6D8-445E-881E-1FE2A25743CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2-setlocation</string>
				<key>subtext</key>
				<string>This will set where we grab EC2 pricing from (e.g. US East (N. Virginia)).</string>
				<key>text</key>
				<string>Set AWS Region</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B24DE9F-6A2B-4FCF-9902-D83870449EA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
/usr/libexec/PlistBuddy -c "Set :variables:location \"$query\"" info.plist

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECE2EA19-86B0-48B1-BB52-A879A7848676</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
/usr/libexec/PlistBuddy -c "Set :variables:system \"$query\"" info.plist

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F190337-6DF5-4F68-8968-86B44AA42B80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2-setsystem</string>
				<key>subtext</key>
				<string>This sets the system we're looking for pricing on (e.g. Linux).</string>
				<key>text</key>
				<string>Set EC2 System</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B78F9B99-A9F7-412A-A126-DF291E72FC81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The EC2 price lookup operating system has been set to {query}.</string>
				<key>title</key>
				<string>EC2 Price Lookup System Set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7927F33D-B567-47F3-AFE3-65324A85DB81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04355D80-1562-49A8-9ECD-0B0E7D3B9198</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>0F4070FE-23EC-4A43-8D86-F3B477FA9CC2</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>25007E87-6857-4027-AEF5-D326F3567F1B</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2B24DE9F-6A2B-4FCF-9902-D83870449EA3</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>6F190337-6DF5-4F68-8968-86B44AA42B80</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>7927F33D-B567-47F3-AFE3-65324A85DB81</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>9F3CC293-E6D8-445E-881E-1FE2A25743CA</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B78F9B99-A9F7-412A-A126-DF291E72FC81</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>CA701C1D-228C-481A-A4A6-34CACA64B91B</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>ECE2EA19-86B0-48B1-BB52-A879A7848676</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>location</key>
		<string>US East (N. Virginia)</string>
		<key>system</key>
		<string>Linux</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://www.nickwalke.com</string>
</dict>
</plist>
